.info-wrapper dt,
.info-wrapper dd {
  display: inline-block;
}

.info-wrapper dt {
  font-weight: bold;
}

.info-wrapper dd {
  margin-left: 10px;
  margin-right: 40px;
}

.container {
  overflow: hidden;
}

.section-hd, .section-bd {
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}

.section-hd {
  float: left;
  width: 120px;
  background-color: #91d5ff;
  color: white;
  text-align: center;
}

.section-bd {
  float: left;
}
